@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 60px;
    line-height: 64px;
    color: white;
}
h2{
    font-size: 75px;
    padding: 9px 0;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #7895CB;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;
    
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}


/* Header Starting */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(201,215,223,255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    font-size: 25px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color  : black;
}
#header a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

#header .button-81 {
    background-color:  #088178;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#header .button-81:hover {
    background-color: white;
    color:  black;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    font-size: 25px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}
#navbar li  a span {
    text-decoration: none;
    cursor: pointer;
}
#navbar li a:hover, 
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */

#hero {
    background-image: url('/imgs/home/bg.png');
    background-position: top 25% right 0;
    height: 90vh;
    width: 100% ;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4 {
    padding-bottom: 15px;;
}

#hero h2 {
    color: #97FEED;
}

#hero h1{
    font-size: 25px;
}

#hero .button-54{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}

#hero .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
  
@media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
}

/* Features Page */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    margin:  15px 0;
    border-radius: 6px;
}
#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px; 
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature ,.fe-box:nth-child(3) h6 {
    background-color: white;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
} 
#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2 ease;
    position: relative;
}
#product1 .pro img {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.pro-container .pro .des  {
    text-align: center;
    padding: 10px 0;
}


.pro-container .pro  .des a {
    text-align: start;
    padding: 0px 10px;
}
#product1 .pro .des .name  {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding: 7px;
    color:#1a1a1a;
    font-size: 14px;
}

#product1 .pro .des .material-symbols-outlined {
    font-size: 12px ;
    color: rgb(243, 181, 25);
}

#product1 .pro .des .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro-container .pro .gg-shopping-bag {
    background-color: #e8f6ea;
    color: #088178;
}

#product1 .pro gg-shopping-bag{
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 30px 10px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/imgs/banner/b2.png');
    width: 100%;
    height: 40vh;
    background-color: cover;
    background-position: center;
}

#banner h4 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

#banner h2 {
    padding: 10px 0;
    font-size: 45px;
}

#banner h2 span {
    color:#088178;
}

/* Banner Button */

#banner .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15%;
    will-change: transform;
}

#banner .button-28:disabled {
    pointer-events: none;
}

#banner .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#banner .button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

#banner .h22{
    color: #606063;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: cover;
}

#sm-banner .banner-box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('/imgs/banner/b17.jpg');
    min-width: 580px;
    height: 50vh;
    background-color: cover;
    background-position: center;
    padding: 30px;
    object-fit: cover;
}

#sm-banner .banner-box h2{
    font-size: 30px;
    color: white;
}

#sm-banner .banner-box span{
    font-size: 13px;
    padding-bottom: 20px;
}

/* sm-banner button */

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    will-change: transform;
  
} 
  
.button-28:disabled {
    pointer-events: none;
 
} 
  
.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  
}
  
.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("/imgs/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}




.footer {
    background-color: var(--charcoal);
    padding-block: 60px 100px;
    color: var(--light-gray);
  }
  
  .footer-brand .footer-text { margin-block: 20px; }
  
  .footer .social-list { color: var(--white); }
  
  .footer-list-title {
    color: var(--white);
    margin-block-end: 16px;
  }
  
  .footer-link {
    padding-block: 4px;
    transition: var(--transition-1);
  }
  
  .footer-link:is(:hover, :focus-visible) { color: var(--violet-blue-crayola); }
  
  .input-wrapper {
    position: relative;
    margin-block-start: 25px;
  }
  
  .input-field {
    background-color: var(--white_a3);
    color: var(--light-gray);
    font-size: var(--fs-7);
    padding: 12px 16px;
    border: 1px solid var(--dark-cornflower-blue_a7);
    border-radius: var(--radius-6);
    box-shadow: var(--shadow-3);
    outline: none;
  }
  
  .input-field::placeholder { color: inherit; }
  
  .submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 var(--radius-6) var(--radius-6) 0;
    background-color: var(--violet-blue-crayola);
    color: var(--white);
    padding-inline: 24px;
    font-weight: var(--fw-700);
  }
  
  